@model RiddleMaker.Web.ViewModels.GetRiddleViewModel
<div id="menu">
	@if (Model.IsCorrect)
	{
		<h1>@Model.Message</h1>
		<a href="/Get">Another one</a>
	}
	else
	{
		<h1>@Model.Message</h1>
		<form asp-controller="Get" asp-action="CheckAnswer" asp-route-id="@Model.Id" asp-route-riddle="@Model.Riddle">
			<textarea disabled placeholder="No riddles yet..." cols="30" rows="7" id="client-riddle" name="Riddle">@Model.Riddle</textarea>
			<textarea placeholder="Your answer..." cols="30" rows="1" id="client-answer" maxlength="31" name="UserAnswer"></textarea>
			<button class="button" id="submitAnswer" type="submit">Submit</button>
		</form>
	}
</div>
